*
!/.dockerignore
!/.gitignore
!/Dockerfile
!/go.mod
!/go.sum
!/service.go
!/static_content_endpoint_specifications.go

!/database/
!/endpoints/
!/type_generation/
!/types/
!/pkg/
!/internal/

!/database/**/*
!/endpoints/**/*
!/type_generation/**/*
!/types/**/*
!/pkg/**/*
!/internal/**/*
